# Compiled Python files
*.pyc

# Ansible retry files
*.retry

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Archives
*.tar.gz
*.tgz
*.zip

# Don't include work and cache dirs
.cache/
